<h1>ABOUT ME</h1>

<div class="text-paragraphs">
  <p>
    I am a lead programmer and effects artist at Dark Moth Studios in
    Grand Rapids, MI, and I am completing a bachelor’s degree in digital
    animation and game design from Ferris State University,
    <a target="_blank" href="http://www.ferris.edu/HTMLS/news/archive/2013/march/dagd.htm">
      one of the <i>Princeton Review’s</i> top 25 programs for game design</a>.
  </p>
  <p>
    In 2013, I studied abroad in the Netherlands, collaborating with other
    international students on Sonic Sprint Submarine, an educational game for the Heim Technical
    Museum in Hengelo, Netherlands.
  </p>

  <p>
    Now, I am working with Dark Moth Studios on a horror game called Linger,
    I am programming the game in Unreal Engine 4, as well as creating special effects.
  </p>

  <p>
    When I have spare time, you can find me with a controller in my hands, or with a soccer ball at my feet.
  </p>

  <p>
    Please feel free to contact me by <a target="_blank" href="http://www.facebook.com/cody.m.bartman">Facebook</a>
    or <a target="_blank" href="mailto:hbartmac@ferris.edu">email</a>.
  </p>
</div>

