<h1>ABOUT ME</h1>

<div class="col-xs-6">
<p>On the surface, construction and digital art appear to have little in common, but actually the two fields are rather similar. In both fields teamwork is essential, if our construction crew isn’t communicating clearly money is wasted on fixing mistakes rather than preventing them. Moreover, when communication fails the jobsite can be dangerous.</p> 

<p>Similarly, 3D studios must communicate effectively, expectations must be conveyed and work delegated. As a contractor and as a digital artist, I have to deliver exactly what the customer needs. The customer's expectations must be met or exceeded in an efficient manner. I must take the time and make the effort so that the customer will appreciate the workmanship (in the long or short term), and cut corners where the effects will never be realized.</p>
</div>

