<!doctype html>
<div class="resume-container">

  <div id="resume-header">
    <h1> RESUME </h1>
    <a href="RESUMELINK"> Download PDF  </a>
  </div>

  <div class="row">
    <div class="col-xs-3" style="border-style-right:solid; border-width:5px; border-color:gray;">
      <div class="skills">
        <h2>EDUCATION</h2>
        <div id="position"></div>
        <div id="employer"></div>
        <div id="location"></div>
        <h2>SKILLS</h2>
        <ul class="skills">
          <li></li>
          <li>Rigging</li>
          <li>Animation</li>
          <li>Texturing</li>
          <li>Hard Body Modeling</li>
          <li>Project Management</li>
          <li>Written and Verbal Communication</li>
          <li>Remote and In-Person Teamwork</li>
        </ul>
        <h2>SOFTWARE</h2>
        <ul class="skills">
          <li>3ds Max</li>
          <li>Maya</li>
          <li>ZBrush</li>
          <li>Adobe Photoshop</li>
          <li>Unreal Engine</li>
          <li>Unity3D</li>
          <li>3D Coat</li>
          <li>Adobe After Effects</li>
          <li>Adobe Premiere</li>
        </ul>


      </div>
    </div>

    <div class="col-xs-9">
      <h2>EXPERIENCE</h2>
      <div class="experience">
        <div><strong>Contractor</strong> | 2013—Present</div>
        <div class="employer">Grandview Services</div>
        <div class="location">Coopersville, MI</div>
        <ul class="expanded-list">
          <li>Inspected finished projects to guarantee customer satisfaction and high quality work</li>
          <li>Supervised and trained new hires</li>
          <li>Installed roofs, siding, and windows</li>
          <li>Repaired housing infrastructure and water damage</li>
        </ul>
      </div>

      <div class="experience">
        <div><strong>Order Selector</strong> | 2012</div>
        <div class="employer">S. Abraham and Sons</div>
        <div class="location">Grand Rapids, MI</div>
        <ul class="expanded-list">
          <li>Something</li>
        </ul>

        <div class="test">CODY BARTMAN</div>
      </div>
    </div>
  </div>
</div>
