<!doctype html> 
<head>
<title>Resume | Cody Bartman</title>
<link rel="stylesheet" href="resume.css" type="text/css">
</head>
<body>
<div id="reshead"><h1>RESUME</h1><a href="RESUMELINK"><p>Download PDF</p></a></div>

<div id="resleft">
	<h2>Skills</h2>
	<p></p>
</div>

<div id="resright">
	<h2>Experience</h2>
	<p class="employer">Grandview Services</p>
	<p><em>Coopersville, MI</em></p>
	<p>Contractor</p>
	<ul> 
		<li>Inspected finished projects to guarantee customer satisfaction and high quality work</li>
		<li>Supervised and trained new hires</li>
		<li>Installed roofs, siding, and windows</li>
		<li>Repaired housing infrastructure and water damage</li>
	</ul>
	<p class="employer">S. Abraham and Sons</p>
	<p><em>Grand Rapids, MI</em></p>
	<p>Order Selector</p>
	<ul>
		<li>blah</li>
</body>