@import url('http://fonts.googleapis.com/css?family=Sofadi+One');

body{
    background: url(/images/background/background.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.page-header{
    padding-left: 60px;
    border-color: #6CDAFF;
    color: #600000;
    font-family: "Sofadi One";
    text-shadow: 0px 0px .75px gray;
}

h1 {
    font-size: 50px;
    line-height: 90%;
}

.sidebar-nav-fixed {
    position:fixed;
    top:200px;
    width:21.97%;

}

.span-fixed-sidebar {
    margin-left: 290px;
}

.edit-image {
  max-height: 200px;
}

.edit-row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.edit-form input {
  margin-right: 10px;
}

li a {
    font: 150%/100% "Sofadi One";
    color: #6CDAFF;
    text-shadow: .5px 0px .5px #600000;

}

a img{
    padding-bottom:70px; 
    padding-top:10px;
}

video {
    width: 640px;
    height: auto;
    padding-bottom: 70px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 767px) {
    .sidebar-nav-fixed{
        width:auto;
    }
    
    body{
        background: url(/images/background/background.jpg) no-repeat center center;
        -webkit-background-size: 100%; 
        -moz-background-size: 100%; 
        -o-background-size: 100%; 
        background-size: 100%; 
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
        -o-background-size: cover; 
        background-size: cover;
    }
    a img {
        padding-bottom:40px; 
        padding-top:10px;
    }
    video {
        width: 400px;
        height: auto;
        padding-bottom: 40px;
        padding-top: 10px;
    }
}

@media(max-width: 850px) {
    .sidebar-nav-fixed {
        position: static;
        width: auto;
    }
}

.lb-image{
    max-width: inherit;
}
