@import url('http://fonts.googleapis.com/css?family=Sofadi+One');

body{
  /*  background: url(/images/background/background.jpg) no-repeat center center fixed; */
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
li a {
    font: 150%/100% "Sofadi One";
    color: #6CDAFF;
    text-shadow: .5px 0px .5px #600000;
}*/

/*
a img{
    padding-bottom:70px; 
    padding-top:10px;
}
*/

@media (max-width: 767px) {
 /*   .sidebar-nav-fixed{
        width:auto;
    }
*/
    body{
       /* background: url(/images/background/background.jpg) no-repeat center center;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
         -o-background-size: 100%;
        background-size: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; */
    }
  /*  a img {
        padding-bottom:40px; 
        padding-top:10px;
    }
    video {
        width: 400px;
        height: auto;
        padding-bottom: 40px;
        padding-top: 10px;
    }*/
}
/*
@media(max-width: 850px) {
    .sidebar-nav-fixed {
        position: static;
        width: auto;
    }
}*/
