body
	{ font-family: 'Roboto', sans-serif;
	font-weight: 100;
	background-image: url(Background.jpg);
	background-repeat: repeat;
	margin: 10%;

	}
h1	{ font-family: 'Roboto', sans-serif;
	font-weight: 800;
	
	}
ul
	{line-height: 20px;
	list-style: url(pikabullet.png);
	}
#rescontent {
	webkit-column-count: 2;
	moz-column-count: 2
	column-count: 2;
	}
#reshead
	{ font-family: 'Roboto', sans-serif;

	}
#resleft
	{ 
	text-align: right;

	}
#resright 
	{ line-height: 5px;
	float: right;
	text-align: left;

	}

.employer
	{ font-weight: 500;
	line-height: 10px;

	}