.resume-container {
  font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Aclonica', sans-serif;
	font-size: 50px;
	color: #282828;
}

h2 {
	font-family: 'Aclonica', sans-serif;
	color: #282828;
}

.test {
	font-family: 'Aclonica', sans-serif;
	font-weight: 800;
}
.experience {
  margin-left: 10px;
}

.expanded-list{
  line-height: 20px;
}

.employer {
  
}

.location {
  font-style: italic;
}

.position {
	font-weight: 800;
}

.skills {
	list-style: none;
	text-align: right;
	text-indent: none;
}