.resume-container {
  font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.experience {
  margin-left: 10px;
}

.expanded-list{
  line-height: 20px;
}

.employer {
  font-weight: 500;
/*	line-height: 10px;*/
}

.location {
  font-style: italic;
}
