.nav > .sidebar-link {
  a {
    color: #282828;
    &:hover {
      background-color: #DCDCDC;
    }
  }
}

.sidebar-nav.sidebar-nav-custom {
  min-width:21.97%;
  padding-top: 25px;
  &.ui-scrollfix {
    position: fixed;
    top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .sidebar-nav.sidebar-nav-custom {
    min-width: auto;
    &.ui-scrollfix{
      position: relative;
      top: auto;
    }
  }
}
