.nav > .sidebar-link {
  font-family: 'Roboto', sans-serif;

  a {
    color: #282828;
    &:hover {
      background-color: #DCDCDC;
    }
  }
}

.sidebar-nav.sidebar-nav-custom {
  min-width:21.97%;
  padding-top: 25px;
  &.ui-scrollfix {
    position: fixed;
    top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .sidebar-nav.sidebar-nav-custom {
    min-width: auto;
    &.ui-scrollfix{
      position: relative;
      top: auto;
    }
  }
}

.sidebar-nav-mobile {
  background-color: #282828;
  border-style: solid;
  border-bottom-width: 1px;
  border-color: #282828;
  position: fixed;
  z-index: 1000;
  right: 0px;
  top: 51px;
  padding: 20px;
  height: 100%;
}

.sidebar-link-mobile > .icon-link-mobile {
  display: inline;
  padding-right: 3px;
}

.nav > .icon-link-container-mobile {
  margin-top: 8px;
}

.face-img {
  height: 200px;
  width: 200px;
}
